<div fxLayout="column" class="all-products-container">
  <div class="search-container" fxFlex>
    <mat-form-field appearance="fill"  fxFlex.gt-md="30">
      <mat-label>Search products by name</mat-label>
      <input type="text" matInput [(ngModel)]="searchTerm" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div *ngIf="products$ | async as products" fxLayout="row wrap" fxLayoutAlign="space-between center" fxFlex>
    <app-product *ngFor="let product of products | productsFilter:searchTerm" [product]="product"></app-product>
  </div>
</div>
